.destinations {
  width: 100%;
  height: 4rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.from {
  padding-top: 0.8rem;
  width: 50%;
  height: 4rem;
  background-color: rgb(122, 115, 115);
}

.to {
  padding-top: 0.8rem;
  width: 50%;
  background-color: rgb(179, 168, 168);
}

.arrow {
  position: absolute;
  width: 4rem;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  padding-top: 0.4rem;
  left: 46vw;
}
