* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  justify-content: center;
}

.booking-container {
  background-color: rgb(241, 237, 237);
  width: 60vw;
  margin-top: 5rem;
  margin-left: 4rem;
}

.flex {
  display: flex;
}
